/* Hoja de estilos principal */
body{
    /* background: rgba(0, 0, 0, 0.603);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.516) 10%, rgba(240, 240, 240, 0.824) 100%); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    position: relative;
    min-height: 100vh;
    
}
header {
    background-color: #F3F3F3;
    opacity: .8;
    position:sticky;
    top: 0;
    height: 3.4em;
    padding-top: 3px;
}
nav {
    display: flex;
    justify-content:center;
}
nav ul li {
   display: inline-block;
   /* padding: 0 5px 0 5px; */
}
nav ul {
        list-style:none;
        text-align: center;
}
nav ul li a {
    display:block;
    text-decoration: none;
    color: #6F38C5;
    padding: .2em .3em .2em .3em;
    font-family: 'Libre Franklin', sans-serif;
    
}
nav ul li a:hover {
   color: cornflowerblue;
}





.logo1 {
    border-radius: 50px;
 }
.icono_menu {
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   padding-top: .5em;
   padding-right: .5em;
   width: 2em;
  }
.menu_oculto {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.1em;
  text-align:right;
  padding:.6em;
  height: 100vh;
}
.menu_oculto > a {
    text-decoration: none;
    display: block;
    padding: 1em 1em;
}
.icono_menu:hover .menu_oculto {
    display: block;
}
.menu_oculto a:hover { 
    background-color: #aaa;
}
.redes {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 0 1em;
}
/* cuerpo pagina */
.productos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em;
    font-size: 1em;
    text-align: center;
}
.imagen img {
    width: 25em;
} 
.imagen_text {
    padding: 10px;
    text-align: center;
    width: 100%;
}

.imagen_precio {
    
    margin:  3px 0 10px 0;
}



/* FOOTER  */
footer {
    width: 100%;
    padding: 5px 0px;
    background-color: #F3F3F3;
    font-size: 1em;
    opacity: .8;
    bottom: 0px;
}

.box_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 10px auto;
    
}

.textoFooter{
    flex-direction: column;
    padding: 5px 0px 0px 30px;
    align-content: center;
}



.box_footer .logo2 img{
    width: 100px;
    border-radius: 50px;
  /*  margin-left: 45px;*/
}
.box_footer .textoFooter{
    font-family:sans-serif;
    color: #459af0;
}
.copyrigh{
    margin: auto;
    padding:  0px 4 px;
    text-align: center;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.box_footer .textoFooter a{
    text-decoration: none;
    color:#6F38C5;
    font-family: 'Libre Franklin', sans-serif;
    
}
.box_footer .textoFooter a:hover {
    color: #6495ed;
}
.texto2footer {
    text-align: center;
    padding: 1em;
    color: #111;
}

/*animacion iconos*/
@keyframes icon_anim {
    0%{
        transform: rotateX(0);
      }
    50%{
        transform: rotateX(-180deg);
      }
    100%{
        transform: rotateX(0);
    }  
}
.anim_ico:hover {
    animation: icon_anim 2s ease 0s 1 normal forwards;
}
/*puntos de corte*/
@media screen and (max-width:620px) {
    /*ocultar menu y hacerlo vertical*/
    .cont_menu {
        display: none;
    }
    .icono_menu {
        display: block;
    }
    html body .flex-conteiner {
        margin: 0;
    }
    html body div.flex-conteiner div.imagen-form{
        margin: 5% 5% 10px 5%;
        margin-left: 4.5%;
        margin-right: 4.5%;
    }
    

    html body div.flex-conteiner form#formu.form {
        
        margin: 5% 4.5% 10px 4.5%;
    }



}
@media screen and (min-width:621px) and (max-width:1023px) {
    /*redimensionamos las fuentes*/
    .faqs-contenido{        
        margin: 0 50px;       
    }
    .flex-conteiner{
        margin: 0;
    }

    html body div.flex-conteiner {
        margin-top: 0;
        margin-bottom: 0;
    }
    html body div.flex-conteiner div.imagen-form {
        margin-left: 0;
        margin-right: 0;
    }
    html body div.flex-conteiner form#formu.form{
        padding-bottom: 5%;
    }

}
@media screen and (min-width:1024px) {
    /*redimensionamos las fuentes*/
    .faqs-contenido{        
        margin: 40px 50px 40px 50px;       
    }
    .flex-conteiner{
        margin: 0;
    }
    
}
/* contacto */
.flex-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    margin: 40px 50px;
    flex-direction: row-reverse;
    background-color: #ddd;
}
.form{
    text-align: center;
    flex: 2;
    margin: 0% 1.5% 0% 3%;
    min-width: 300px;
    order: 9;    
    /* padding: 50px; */
}
.imagen-form{
    outline: solid bisque;
    margin: 4.2% 3% 3.5% 1.5%;
}
.form__box{
    margin-top: 10px;
    display: flex;
    
}
.imagen-form iframe{
    display: flex;
    min-height: 150px;
    max-height: 350px;
    max-width: 100%;
    text-align: center;
    
} 
form div input, form div textarea, form div button {
    
    border: none;
    border-bottom: solid 2px bisque;
    width: 100% ;
    outline: none;
    padding: 20px;
}
.form__texto{
    resize:none;
    height: 100px;
}
.form__box-enviar{
    background-color: #f8debe;
    margin-top: 4px;
    border: solid .5px #fccf99;
    font-weight: bold;
    font-size: 20px;
}
.boxContacto{
   display: flex;
   flex-direction: column;
   order: -1;
   text-align: center;
   flex: 1;
}
form div input:focus{
    background-color: #e9e7e478;
}
form div textarea:focus{
    background-color: #e9e7e478; 
}
form div input::placeholder{
    color: #666;
}
form div textarea::placeholder{
    color: #666;
}
.form__box-enviar:hover{
    background-color: #eed3b3;
    cursor:pointer;
}
.avisos {
    color:red;
    font-size: .8em;
    position: absolute;
    margin-left: .1em;
}

/* faqs */

.faqs-contenido{
    padding: 50px;
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
   
}

.faqs-contenido__cuerpo{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}