/* Hoja de estilos principal */
body{
    background: rgba(0, 0, 0, 0.603);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.516) 10%, rgba(240, 240, 240, 0.824) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    position: relative;
    min-height: 100vh;
    
}
header {
    background-color: #EEEEEE;
    opacity: .8;
    position:sticky;
    top: 0;
    height: 3.4em;
    padding-top: 3px;
}
nav {
    display: flex;
    justify-content:center;
}
nav ul li {
   display: inline-block;
}
nav ul {
        list-style:none;
        text-align: center;
}
nav ul li a {
    display:block;
    text-decoration: none;
    color:#F07DEA;
    padding: .2em .3em .2em .3em;
    font-family: 'Merienda', cursive ;
    
}
nav ul li a:hover {
   color: cornflowerblue;
}
.logo1 {
    border-radius: 50px;
 }
.icono_menu {
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   padding-top: .5em;
   padding-right: .5em;
   width: 2em;
  }
.menu_oculto {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: "Merienda", cursive;
  font-size: 1.1em;
  text-align: center;
}
.menu_oculto a {
    text-decoration: none;
    display: block;
    padding: .2em .2em;
}
.icono_menu:hover .menu_oculto {
    display: block;
}
.menu_oculto a:hover { 
    background-color: #A460ED;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #EEEEEE;
    padding: 5px 0px;
    font-size: 1em;
   /* position: absolute;*/
    bottom: 0px;
}

.box_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: auto;
}

.textoFooter{
    flex-direction: column;
    padding: 5px 0px 0px 30px;
}
.box_footer .logo2 img{
    width: 100px;
    border-radius: 50px;
  /*  margin-left: 45px;*/
}
.box_footer .textoFooter{
    font-family:sans-serif;
    color: #459af0;
}
.copyrigh{
    margin: auto;
    padding:  0px 4 px;
    text-align: center;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box_footer .textoFooter a{
    text-decoration: none;
    color:#F07DEA;
    font-family: 'Merienda', cursive ;
}
.box_footer .textoFooter a:hover {
    color: cornflowerblue;
}
.texto2footer {
    text-align: center;
    padding: 1em;
    color: #459af0;
}
/*animacion iconos*/
@keyframes icon_anim {
    0%{
        transform: rotateX(0);
      }
    50%{
        transform: rotateX(-180deg);
      }
    100%{
        transform: rotateX(0);
    }  
}
.anim_ico:hover {
    animation: icon_anim 2s ease 0s 1 normal forwards;
}
/*puntos de corte*/
@media screen and (max-width:620px) {
    /*ocultar menu y hacerlo vertical*/
    .cont_menu {
        display: none;
    }
    .icono_menu {
        display: block;
    }
    
}
@media screen and (min-width:621px) and (max-width:1023px) {
    /*redimensionamos las fuentes*/
    
}
@media screen and (min-width:1024px) {
    /*redimensionamos las fuentes*/
    
}