/* Hoja de estilos principal */
body{
    background: rgba(0, 0, 0, 0.603);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.516) 10%, rgba(240, 240, 240, 0.824) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    position: relative;
    min-height: 100vh;
    
}
header {
    background-color: #EEEEEE;
    opacity: .8;
    position:sticky;
    top: 0;
    height: 3.4em;
    padding-top: 3px;
}
nav {
    display: flex;
    justify-content:center;
}
nav ul li {
   display: inline-block;
}
nav ul {
        list-style:none;
        text-align: center;
}
nav ul li a {
    display:block;
    text-decoration: none;
    color:#F07DEA;
    padding: .2em .3em .2em .3em;
    font-family: 'Merienda', cursive ;
    
}
nav ul li a:hover {
   color: cornflowerblue;
}
.logo1 {
    border-radius: 50px;
 }
.icono_menu {
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   padding-top: .5em;
   padding-right: .5em;
   width: 2em;
  }
.menu_oculto {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 8em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: "Merienda", cursive;
  font-size: 1.1em;
  text-align:right;
  padding:.3em;
}
.menu_oculto > a {
    text-decoration: none;
    display: block;
    padding: .2em .2em;
}
.icono_menu:hover .menu_oculto {
    display: block;
}
.menu_oculto a:hover { 
    background-color: #A460ED;
}
.redes {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 0 1em;
}



/* cuerpo pagina */

.cuerpo-pagina{ 
    display: grid;
}



.imagen1{
    grid-area: imagen1;
    
}
.imagen2{
    grid-area: imagen2;
}
.imagen3{
    grid-area: imagen3;
}
.imagen4{
    grid-area: imagen4;
}
.imagen5{
    grid-area: imagen5;
}
.imagen6{
    grid-area: imagen6;
}
.imagen7{
    grid-area: imagen7;
}
.imagen8{
    grid-area: imagen8;
}


.imagenes{
    display: grid;
    gap: 40px;
    grid-template-areas: 
    "imagen1 imagen2 imagen3 imagen4"
    "imagen5 imagen6 imagen7 imagen8";
    justify-content: center;
    margin: 1em;
    font-size: 10px;
    text-align: center;

}

.imagenes div img{
    justify-content: center;
    text-align: center;
    max-width: 150px;
    
}


















/* FOOTER  */

footer {
    width: 100%;
    padding: 5px 0px;
    background-color: #999;
    font-size: 1em;
   /* position: absolute;*/
    bottom: 0p
}

.box_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 10px auto;
    
}

.textoFooter{
    flex-direction: column;
    padding: 5px 0px 0px 30px;
}
.box_footer .logo2 img{
    width: 100px;
    border-radius: 50px;
  /*  margin-left: 45px;*/
}
.box_footer .textoFooter{
    font-family:sans-serif;
    color: #459af0;
}
.copyrigh{
    margin: auto;
    padding:  0px 4 px;
    text-align: center;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.box_footer .textoFooter a{
    text-decoration: none;
    color:#F07DEA;
    font-family: 'Merienda', cursive ;
}
.box_footer .textoFooter a:hover {
    color: cornflowerblue;
}
.texto2footer {
    text-align: center;
    padding: 1em;
    color: #459af0;
}

/*animacion iconos*/
@keyframes icon_anim {
    0%{
        transform: rotateX(0);
      }
    50%{
        transform: rotateX(-180deg);
      }
    100%{
        transform: rotateX(0);
    }  
}
.anim_ico:hover {
    animation: icon_anim 2s ease 0s 1 normal forwards;
}
/*puntos de corte*/
@media screen and (max-width:620px) {
    /*ocultar menu y hacerlo vertical*/
    .cont_menu {
        display: none;
    }
    .icono_menu {
        display: block;
    }

/* el cuerpo grid muestra menos columnas */
    .imagenes{
        display: grid;
        gap: 40px;
        grid-template-areas: 
        "imagen1"
        "imagen2"
        "imagen3"
        "imagen4"
        "imagen5"
        "imagen6"
        "imagen7"
        "imagen8"
        "imagen9";
        justify-content: center;
        margin: 1em;
        font-size: 8px;
        text-align: center;
        grid-template-columns: 100%;
}



 }
@media screen and (min-width:621px) and (max-width:1023px) {
    /*redimensionamos las fuentes*/


}
@media screen and (min-width:1024px) {
    /*redimensionamos las fuentes*/
        
}








/* contacto */

.flex-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    flex-wrap: wrap; 
    margin: 5%;
    flex-direction: row-reverse;
}

.form{
    text-align: center;
    flex: 2;
    margin: 5%;
    min-width: 300px;
    order: 9;
    
}

.imagen-form{
    flex: 1;  
    padding: 15px;  
}

.form__box{
    margin: 5px 0;
    display: flex;
}

.imagen-form iframe{
    margin: 10px;
    display: flex;
    min-height: 150px;
    max-height: 350px;
    
} 

form div input, form div textarea, form div button {
    background-color: grey;
    border: none;
    border-bottom: solid 0.5px bisque;
    width: 100% ;
    outline: none;
    padding: 20px;
    
    
}
.imagen-form iframe{
    margin: auto;
    order: 10;
    
    
}

.form__texto{
    resize:none;
    height: 100px;
}

.form__box-enviar{
    background-color: bisque;
    margin-top: 4px;
    border: solid 3px #555;
    font-weight: bold;
    font-size: 20px;
}


.boxContacto{
    display: flex;
   flex-direction: column;
   order: -1;
   text-align: center;
   flex: 1;
}


form div input:focus{
    background: linear-gradient(to top, transparent, 1%, grey);
    background-color: #555;
    border-bottom: solid 0.5px bisque;
    
}

form div textarea:focus{
    background: linear-gradient(to top, transparent, 1%, grey);
    background-color: #555;
    border-bottom: solid 0.5px bisque;
}

form div input::placeholder{
    color: #666;
    
}

form div textarea::placeholder{
    color: #666;
}
form div input:hover{
    background: linear-gradient(to top, transparent, 1%, grey);
    background-color: #555;
    border-bottom: solid 0.5px bisque;
    
}

form div textarea:hover{
    background: linear-gradient(to top, transparent, 1%, grey);
    background-color: #555;
    border-bottom: solid 0.5px bisque;
}
.form__box-enviar:hover{
    background-color: #eed3b3;
}

